.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-bar {
  display: flex;
  margin-bottom: 20px;
  background: linear-gradient(0deg,#e13a48,#fc8b10,#f9cd15,#e0c634,#6ba53a,#19538c);
}

.action-bar input {
  width: 300px;
  padding: 10px;
  outline: none;
}

.action-bar button {
  padding: 10px;
  background-image: linear-gradient(90deg,#f05a05 0,#fc8b10);
  color: #ffff;
  cursor: pointer;
}

.box-container {
  background: linear-gradient(0deg,#e13a48,#fc8b10,#f9cd15,#e0c634,#6ba53a,#19538c);
  padding: 2px;
  max-width: max-content;
  max-height: max-content;
}

.box {
  background: #ffffffb7;
  width: 365px;
  height: 400px;
}